---
import React from 'react'

import Head from '../components/Head'
import Pagination from '../components/Pagination'
import PostList from '../components/PostList'
import PostListLayout from '../components/PostListLayout.astro'
import { group } from 'console'
import type { Frontmatter, Media } from '../types'
import type { Page } from 'astro'

type props = {
  page: Page<Frontmatter>
  media: Media
}
const { page, media } = Astro.props
---

<PostListLayout>
  <p class="mb-7 text-center">
    <b class="mr-2 text-lg">#{media === 'owned' ? 'mimu-memo' : media}</b>
    の記事
  </p>
  <PostList posts={page.data} />
  <Pagination page={page} />
</PostListLayout>
