@use 'variables' as vars;
@use 'utils';

@font-face {
  font-family: 'Yellowtail';
  src: url('/fonts/Yellowtail-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Menlo';
  src: url('/fonts/Menlo-Regular.ttf') format('truetype');
}

body {
  color: vars.$text-color-black;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans', Meiryo, sans-serif;

  @include utils.dark() {
    color: vars.$text-color-white;
  }
}

.pcOnly {
  @include utils.mq(sp) {
    display: none;
  }
}

.spOnly {
  @include utils.mq(tab) {
    display: none;
  }
}
