@use 'variables' as vars;
@use 'utils';

body {
  color: vars.$text-color-black;
  font-family: 'Noto Sans JP', sans-serif;

  @include utils.dark() {
    color: vars.$text-color-white;
  }
}

.pcOnly {
  @include utils.mq(sp) {
    display: none;
  }
}

.spOnly {
  @include utils.mq(pc) {
    display: none;
  }
}
