@use 'variables' as vars;

$breakpoint: 980px;
$mappedBreakpoint: (
  pc: 'screen and (min-width: #{$breakpoint + 1px})',
  sp: 'screen and (max-width: #{$breakpoint})',
);

@mixin mq($breakpoint) {
  @media #{map-get($mappedBreakpoint, $breakpoint)} {
    @content;
  }
}

@mixin dark() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin slideIn() {
  animation: slideInAnimation 0.25s ease-in forwards;
}

%link {
  color: vars.$text-color-black;
  text-decoration: underline vars.$text-color-black;

  &:hover {
    color: vars.$black-400;
    text-decoration: underline vars.$black-400;
  }

  @include dark() {
    color: #fff;
    text-decoration: underline #fff;

    &:hover {
      color: vars.$black-700;
      text-decoration: underline vars.$black-700;
    }
  }
}

%card-content {
  background: #fff;
  color: vars.$text-color-black;
  border-radius: 5px;
  border: 1px solid vars.$black-800;

  @include dark() {
    background: vars.$black-300;
    color: #fff;
    border: none;
  }
}
