@use 'variables' as vars;
@use 'utils';

.toc-list-item {
  position: relative;
  padding-left: 16px;

  @include utils.mq(sp) {
    text-align: left;
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: vars.$primary;
    border-radius: 50%;
    left: 0;
    top: 16px;
  }

  &:has(> a.is-active-link)::before {
    background: vars.$primary;
  }

  > a {
    color: vars.$text-color-light-secondary;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 6px 0;
    @include utils.dark() {
      color: vars.$text-color-dark-tertiary;
    }

    &:hover,
    &.is-active-link {
      color: vars.$text-color-black;

      @include utils.dark() {
        color: vars.$black-800;
      }
    }
  }
}
