@use 'variables' as vars;

$breakpointPc: 1280px;
$breakpointTab: 980px;
$mappedBreakpoint: (
  pc: 'screen and (min-width: #{$breakpointPc + 1px})',
  tab: 'screen and (min-width: #{$breakpointTab + 1px})',
  sp: 'screen and (max-width: #{$breakpointTab})',
);

@mixin mq($breakpoint) {
  @media #{map-get($mappedBreakpoint, $breakpoint)} {
    @content;
  }
}

@mixin dark() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spinAnimation {
  to {
    transform: rotate(360deg);
  }
}

@mixin slideIn() {
  animation: slideInAnimation 0.25s ease-in forwards;
}

@mixin spin() {
  animation: spinAnimation 1s linear infinite;
}

@mixin scale($scale) {
  transform: scale(1);
  transition: transform 0.2s;

  &:hover {
    transform: scale($scale);
  }
}

%link {
  color: vars.$text-color-black;
  text-decoration: underline vars.$text-color-black;

  &:hover {
    color: vars.$black-400;
    text-decoration: underline vars.$black-400;
  }

  @include dark() {
    color: #fff;
    text-decoration: underline #fff;

    &:hover {
      color: vars.$black-700;
      text-decoration: underline vars.$black-700;
    }
  }
}

%card-content {
  color: vars.$text-color-black;
  border: 1px solid vars.$line-color-light;
  border-radius: 10px;

  @include dark() {
    background: vars.$bg-color-dark-secondary;
    color: #fff;
    border: 1px solid vars.$bg-color-dark-tertiary;
  }
}

%arrow {
  position: absolute;
  top: 40%;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

%arrow-prev {
  @extend %arrow;
  left: 0;
  border-left: 1px solid vars.$text-color-black;
  border-bottom: 1px solid vars.$text-color-black;

  @include dark() {
    border-color: #fff;
  }
}
%arrow-next {
  @extend %arrow;
  right: 0;
  border-top: 1px solid vars.$text-color-black;
  border-right: 1px solid vars.$text-color-black;

  @include dark() {
    border-color: #fff;
  }
}

%card-fold {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0px 20px 20px 0;
  border-style: solid;
  border-color: vars.$black-900 vars.$black-900 vars.$black-750 vars.$black-750;
  display: block;

  @include dark() {
    border-color: vars.$black-200 vars.$black-200 vars.$black-400
      vars.$black-400;
  }
}
