$headerHeight: 90px;
$footerHeight: 70px;
$contentMaxWidth: 1120px;
$sp-side-padding: 12px;

$black-200: #121212;
$black-300: #1e1e1e;
$black-350: #3c3c3c;
$black-400: #5c5c5c;
$black-500: #8c8b8b;
$black-600: #aaaaaa;
$black-700: #cccccc;
$black-750: #dcdcdc;
$black-800: #ededed;
$black-900: #f3f4f6;

$bg-color-dark-primary: #0e1217;
$bg-color-dark-secondary: #1c1f26;
$bg-color-dark-tertiary: #a8b3cf33;

$text-color-dark-tertiary: #a8b3cf;

$text-color-light-secondary: #525860;
$line-color-light: #a8b3cf;

$primary: #ce3ef3;

$twitter-blue: #00aeed;

$text-color-black: #000000d1;
$text-color-white: #fff;
