$headerHeight: 90px;
$footerHeight: 70px;
$contentMaxWidth: 1120px;

$black-200: #121212;
$black-300: #1e1e1e;
$black-350: #3c3c3c;
$black-400: #5c5c5c;
$black-500: #8c8b8b;
$black-600: #aaaaaa;
$black-700: #cccccc;
$black-750: #dcdcdc;
$black-800: #ededed;
$black-900: #f3f4f6;

$bg-color-dark: #0d1117;

$primary: #dbb60d;
$primary-light: #f0d560;

$twitter-blue: #00aeed;
$qiita-primary: #55c500;
$zenn-primary: #3ea8ff;

$text-color-black: #000000d1;
$text-color-white: #fff;

$sp-side-padding-size: 20px;
