@use 'variables' as vars;
@use 'utils';

%headingStyle {
  padding: 60px 0 10px;
  line-height: 1;
  border-bottom: 3px solid vars.$black-700;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: -3px;
    width: 20%;
    border-bottom: 3px solid vars.$primary;
  }
}
.postDetailContent {
  .astro-code {
    font-size: 14px;
    border-radius: 10px;
    padding: 30px 20px;
    margin: 20px 0;
    line-height: 1.5;
    word-wrap: normal !important; // NOTE: astro側のインラインスタイルを打ち消し
  }

  h1 {
    @extend %headingStyle;
    font-size: 24px;
    @include utils.mq(sp) {
      font-size: 22px;
    }
  }
  h2 {
    @extend %headingStyle;
    font-size: 22px;
    @include utils.mq(sp) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 20px;
    padding: 50px 0 20px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: block;
      bottom: 10px;
      width: 20%;
      border-bottom: 1px solid vars.$black-700;
    }
    @include utils.mq(sp) {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 16px;
    margin-top: 20px;
  }

  p {
    line-height: 2;
    margin-top: 20px;
  }

  ul {
    padding-left: 24px;
    margin-top: 20px;
  }

  li {
    list-style-type: disc;
    line-height: 2;
  }

  li > ul {
    margin-top: 0;
  }

  a {
    @extend %link;
    color: vars.$primary;
    text-decoration: underline vars.$primary;
  }

  blockquote {
    margin-top: 20px;
    padding: 5px 20px;
    margin-left: 5px;
    border-left: 3px solid vars.$black-700;
    color: vars.$black-400;

    > * {
      margin-top: 0;
    }
  }

  > code,
  *:not(.astro-code) > code {
    background: vars.$black-800;
    padding: 3px 5px;
    margin: 0 3px;
    border-radius: 5px;
    font-size: 16px;

    @include utils.dark() {
      background: vars.$black-400;
    }
  }
}
