---
import Footer from './Footer.astro'
import Header from './Header.astro'

import '../../styles/reset.css'
import '../../styles/_common.scss'
import SideBar from './SideBar.astro'

type Props = {
  hasSideBar: boolean
  hasToc: boolean
}
const { hasSideBar, hasToc } = Astro.props
---

<body>
  <div class="baseLayout">
    <Header />
    <div
      class={`baseLayout__inner ${
        hasSideBar ? 'baseLayout__inner--hasSideBar' : ''
      }`}
    >
      <main class="baseLayout__main">
        <slot />
      </main>
      {hasSideBar && <SideBar hasToc={hasToc} />}
    </div>
    <Footer />
  </div>
</body>

<script>
  import { inject } from '@vercel/analytics'

  inject()
</script>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .baseLayout {
    width: 100%;
    min-height: 100vh;

    @extend %gradient-bg;

    @include utils.dark() {
      background: vars.$bg-color-dark-primary;
      color: #fff;
    }

    &__inner {
      max-width: vars.$contentMaxWidth;
      margin: 0 auto;

      min-height: calc(100vh - #{vars.$headerHeight} - #{vars.$footerHeight});
      @include utils.mq(sp) {
        flex-direction: column;
        gap: 0;
      }

      &--hasSideBar {
        display: flex;
      }
    }

    &__main {
      padding: 0 16px 80px;
      width: 100%;

      @include utils.mq(sp) {
        padding: 0 0 80px;
      }
    }
  }
</style>
