---
import { inject } from '@vercel/analytics'

import Footer from './Footer.astro'
import Header from './Header.astro'
import Head from './Head.tsx'
import '../../styles/reset.css'
import '../../styles/_common.scss'
import SideBar from './SideBar.astro'

inject()

type Props = {
  hasSideBar: boolean
}
const { hasSideBar } = Astro.props
---

<body>
  <div class="baseLayout">
    <Header />
    <div class="baseLayout__inner">
      <main class="baseLayout__main">
        <slot />
      </main>
      {hasSideBar && <SideBar />}
    </div>
    <Footer />
  </div>
</body>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .baseLayout {
    background: vars.$black-900;
    width: 100%;
    // min-height: 100vh;
    @include utils.dark() {
      background: vars.$black-200;
      color: #fff;
    }

    &__inner {
      display: flex;
      gap: 40px;
      max-width: vars.$contentMaxWidth;
      margin: 0 auto;

      min-height: calc(100vh - #{vars.$headerHeight} - #{vars.$footerHeight});
      @include utils.mq(sp) {
        flex-direction: column;
        gap: 0;
      }
    }

    &__main {
      padding: 40px 16px 80px;
      width: 100%;
    }
  }
</style>
