---
---

<footer class="footer">
  <div class="footer__inner">
    <p>©2021 mimu-memo All Right Reserved.</p>
  </div>
</footer>

<style lang="scss">
  @use '@/styles/utils' as utils;
  @use '@/styles/variables' as vars;
  .footer {
    @include utils.dark() {
      color: vars.$text-color-white;
      background: vars.$black-200;
    }
    &__inner {
      padding: 24px 0;
      text-align: center;
      font-size: 14px;
    }
  }
</style>
