---
---

<footer class="footer dark:bg-dark-black bg-primary">
  <div class="footer__inner p-6 text-center text-white">
    <p>©2021 mimu-memo All Right Reserved.</p>
  </div>
</footer>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .footer {
    background: vars.$primary;
    @include utils.dark() {
      background: vars.$black-200;
    }
    &__inner {
      padding: 24px 0;
      text-align: center;
      color: #fff;
    }
  }
</style>
