---
---

<header class="header">
  <div class="header__inner">
    <a href="/page/1" class="header__link">
      <h1 class="header__title">mimu-memo</h1>
    </a>
  </div>
</header>

<style lang="scss">
  @use '@/styles/utils' as utils;
  @use '@/styles/variables' as vars;

  .header {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 20px;

      @include utils.mq(sp) {
        padding: 10px 20px 10px;
      }
    }
    &__title {
      color: vars.$text-color-black;
      font-family: 'Yellowtail', cursive;
      font-size: 52px;
      font-weight: normal;
      line-height: 1.2;

      @include utils.mq(sp) {
        font-size: 40px;
      }
      @include utils.dark() {
        color: vars.$text-color-white;
      }
    }
  }
</style>
