---
import { SITE_DESCRIPTION } from '../../config'
---

<header class="header">
  <div class="header__inner">
    <a href="/page/1" class="header__link">
      <img
        class="hader__logo"
        width="190"
        height="30"
        src="/img/logo.png"
        alt="mimu-memo"
      />
    </a>
    <p class="header__text">{SITE_DESCRIPTION}</p>
  </div>
</header>

<style lang="scss">
  @use '../../styles/mixin' as mixin;
  @use '../../styles/variables' as vars;

  .header {
    background: vars.$primary;
    color: #fff;

    @include mixin.dark() {
      background: vars.$black-200;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      align-items: center;
      padding: 16px;
    }
  }
</style>
