---
import React from 'react'

import { MEDIA_LIST_DISPLAY, QIITA_FEED_URL, ZENN_FEED_URL } from '../../config'
import { convertMediaNameToSlug, fetchFeed } from '../../utils'
import type { Frontmatter, Media, MediaDisplay } from '../../types'
import { getCollection } from 'astro:content'
import LoadingSpinner from '../elements/LoadingSpinner.astro'
import { postcss } from 'autoprefixer'

type Props = {
  media: MediaDisplay
}
const { media } = Astro.props

let posts
if (media === 'mimu-memo') {
  posts = await getCollection('owned')
} else if (media === 'Qiita') {
  posts = await fetchFeed(QIITA_FEED_URL)
} else if (media === 'Zenn') {
  posts = await fetchFeed(ZENN_FEED_URL)
}

const getPostCount = () => {
  return posts.length
}
---

<>
  {
    !posts ? (
      <LoadingSpinner />
    ) : (
      <a
        href={`/${convertMediaNameToSlug(media)}/page/1`}
        class="mediaItem__link"
      >
        <span class="mediaItem__text">
          #{media}({getPostCount()})
        </span>
      </a>
    )
  }
</>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;

  .mediaItem {
    &__link {
      display: block;
      width: fit-content;
      padding: 4px;
    }
    &__text {
      margin-top: 8px;
      font-weight: 500;

      @extend %link;
    }
  }
</style>
