---
import { MEDIA_TYPE_LIST_FOR_DISPLAY } from '@/config'

import MediaItem from './MediaItem.astro'
import SideBarHeading from './SideBarHeading.astro'
---

<div class="mediaList">
  <SideBarHeading text="Articles">
    <picture>
      <source
        media="(prefers-color-scheme: dark)"
        srcset="/img/article-white.png"
        width="25"
        height="25"
      />
      <img src="/img/article-black.png" width="25" height="25" alt="" />
    </picture>
  </SideBarHeading>
  <div class="mediaList__list">
    {MEDIA_TYPE_LIST_FOR_DISPLAY.map((media) => <MediaItem media={media} />)}
  </div>
</div>

<style lang="scss">
  @use '@/styles/utils' as utils;
  @use '@/styles/variables' as vars;

  .mediaList {
    padding: 20px;

    @extend %card-content;

    &__heading {
      font-size: 16px;
      font-weight: bolder;
    }
    &__list {
      margin-top: 8px;
    }
  }
</style>
