---
import React from 'react'

import { MEDIA_LIST_DISPLAY } from '../../config'

import MediaItem from './MediaItem.astro'
---

<div class="mediaList">
  <h3 class="mediaList__heading">Articles</h3>
  <div class="mediaList__list">
    {MEDIA_LIST_DISPLAY.map((media) => <MediaItem media={media} />)}
  </div>
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;

  .mediaList {
    padding: 20px;

    @extend %card-content;

    &__heading {
      font-size: 16px;
      font-weight: bolder;
    }
    &__list {
      margin-top: 8px;
    }
  }
</style>
