---
import React from 'react'

import GithubLogo from '../elements/GithubLogo'
import TwitterLogo from '../elements/TwitterLogo'
---

<div class="profile">
  <div class="profile__info">
    <img
      class="profile__avatar"
      src="/img/avatar.png"
      alt="mmrakt"
      width={80}
      height={80}
    />
    <div class="profile__name">
      <h4>mimu</h4>
      <div class="profile__sns">
        <a
          href="https://github.com/mmrakt"
          target="_blank"
          rel="noreferrer"
          class="profile__snsLink profile__snsLink--github"
          aria-label="GitHubプロフィールリンク"
        >
          <GithubLogo />
        </a>
        <a
          href="https://twitter.com/mmrakt0716"
          target="_blank"
          rel="noreferrer"
          class="profile__snsLink profile__snsLink--twitter"
          aria-label="Twitterプロフィールリンク"
        >
          <TwitterLogo />
        </a>
      </div>
    </div>
  </div>
  <p class="profile__introduce">
    ストリートダンスと飲酒と個人開発が好きな関西人。<br
    />フロントエンド、バックエンドどっちも好きです。
  </p>
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;

  .profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

    @extend %card-content;

    &__avatar {
      padding: 2px;
      border-radius: 50%;
      background: linear-gradient(45deg, #f48ace 0%, #493a97 100%);
    }

    &__info {
      display: flex;
      align-items: center;
    }
    &__name {
      margin-left: 12px;
      font-size: 18px;
      & > h4 {
        font-weight: bold;
      }
    }
    &__sns {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &__snsLink {
      color: vars.$black-200;
      width: 25px;
      height: 25px;
      color: vars.$black-400;
      @include utils.dark() {
        color: vars.$text-color-dark-tertiary;
      }
    }
    &__introduce {
      font-size: 14px;
    }
  }
</style>
