---
import TocPc from '@/components/elements/TocPc.astro'
import MediaList from './MediaList.astro'
import Profile from './Profile.astro'

type Props = {
  hasToc: boolean
}
const { hasToc } = Astro.props
---

<div class="sideBar">
  <aside class="sideBar__inner">
    <Profile />
    <MediaList />
    {
      hasToc && (
        <div class="sideBar__tocPc">
          <TocPc />
        </div>
      )
    }
  </aside>
</div>
<style lang="scss">
  @use '@/styles/utils' as utils;
  @use '@/styles/variables' as vars;
  .sideBar {
    width: 300px;
    flex-shrink: 0;
    padding-right: 20px;

    @include utils.mq(sp) {
      width: 100%;
      padding: 0 vars.$sp-side-padding 40px;
    }

    &__inner {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      height: 100%;

      @include utils.mq(sp) {
        margin-top: 0;
      }
    }
    &__tocPc {
      position: sticky;
      top: 20px;
      left: 0;
      height: 100vh;

      @include utils.mq(sp) {
        display: none;
      }
    }
  }
</style>
