---
type Props = {
  text: string
}
const { text } = Astro.props
---

<h3 class="sideBarHeading">
  <slot />
  {text}
</h3>

<style lang="scss">
  @use '@/styles/utils' as utils;
  @use '@/styles/variables' as vars;
  .sideBarHeading {
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>
