---
import MediaList from './MediaList.astro'
import Profile from './Profile.astro'
---

<div class="sideBar">
  <aside class="sideBar__inner">
    <Profile />
    <MediaList />
  </aside>
</div>

<style lang="scss">
  @use '../../styles/mixin' as mixin;
  @use '../../styles/variables' as vars;
  .sideBar {
    width: 300px;
    flex-shrink: 0;

    &__inner {
      margin-top: 80px;
      padding: 20px;

      @extend %card-content;

      @include mixin.mq(sp) {
        margin: 0 16px;
      }
    }
  }
</style>
