---
import MediaList from './MediaList.astro'
import Profile from './Profile.astro'
---

<div class="sideBar">
  <aside class="sideBar__inner">
    <Profile />
    <MediaList />
  </aside>
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .sideBar {
    width: 300px;
    flex-shrink: 0;
    padding-right: vars.$sp-side-padding-size;

    @include utils.mq(sp) {
      width: 100%;
      padding-left: vars.$sp-side-padding-size;
    }

    &__inner {
      margin-top: 80px;
      padding: 20px;

      @extend %card-content;
    }
  }
</style>
