---
import MediaQuery from 'react-responsive'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<html lang="ja">
  <BaseLayout pageUrl="">
    <h1 class="text-center text-3xl">お探しのページが見つかりませんでした</h1>
    <div class="mt-10 text-center text-lg">
      <MediaQuery maxWidth={980}>
        <p>
          アクセスしたページは削除またはURLが変更されていたため表示することができませんでした。
        </p>
      </MediaQuery>
      <MediaQuery minWidth={981}>
        <p>アクセスしたページは削除またはURLが変更されていたため</p>
        <p>表示することができませんでした。</p>
      </MediaQuery>
    </div>
  </BaseLayout>
</html>
