---
import React from 'react'

import { MEDIA_LIST_DISPLAY, QIITA_FEED_URL, ZENN_FEED_URL } from '../config'
import { convertMediaNameToSlug, fetchFeed } from '../utils'
import type { Frontmatter, Media, MediaDisplay } from '../types'
const ownedMd = await Astro.glob<Frontmatter>('../content/owned/*.md')
const qiitaFeed = await fetchFeed(QIITA_FEED_URL)
const zennFeed = await fetchFeed(ZENN_FEED_URL)

const getCountByMedia = (media: MediaDisplay) => {
  if (media === 'mimu-memo') {
    return ownedMd.length
  } else if (media === 'Qiita') {
    return qiitaFeed.items.length
  } else if (media === 'Zenn') {
    return zennFeed.items.length
  }
  return 0
}
---

<div class="mediaList">
  <h3 class="mediaList__header mt-6 font-black">Media</h3>
  <div class="mediaList__list flex flex-wrap mt-2">
    {
      MEDIA_LIST_DISPLAY.map((media) => (
        <a
          href={`/${convertMediaNameToSlug(media)}/page/1`}
          class="mediaList__itemLink"
        >
          <span class="mediaList__itemText">
            #{media}({getCountByMedia(media)})
          </span>
        </a>
      ))
    }
  </div>
</div>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;

  .mediaList {
    margin-top: 16px;
    &__header {
      font-size: 20px;
      font-weight: bolder;
    }
    &__list {
      margin-top: 8px;
    }

    &__itemLink {
      display: block;
      width: fit-content;
      padding: 4px;
    }
    &__itemText {
      margin-top: 8px;
      font-weight: 500;
      color: #000;
      text-decoration: underline #000;

      &:hover {
        color: vars.$black-400;
        text-decoration: underline vars.$black-400;
      }
    }
  }
</style>
