---
import SideBar from './SideBar.astro'
---

<!-- TODO react-responsive削除してtailwindで再実装 -->
<div class="postListLayout">
  <slot />
  <SideBar />
</div>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;

  .postListLayout {
    display: flex;
    margin: 0 auto;
    //FIX:
    max-width: vars.$contentMaxWidth;

    @include mixin.mq(sp) {
      flex-direction: column;
    }
  }
</style>
