---
import dayjs from 'dayjs'

import type { PaginatedPost } from '../types'
import '../styles/postDetail.scss'

type Props = {
  post: PaginatedPost
}
const { post } = Astro.props
---

<section class="postDetail">
  <p class="postDetail__date">
    {dayjs(post.entry.data.pubDate).format('YYYY-MM-DD')}
  </p>
  <h1 class="postDetail__title">
    {post.entry.data.title}
  </h1>
  <div class="postDetail__content">
    <slot />
  </div>
</section>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;
  .postDetail {
    border-radius: 5px;
    border: 1px solid vars.$black-800;
    background: #fff;
    padding: 40px;

    @include mixin.slideIn();

    @include mixin.dark() {
      background: vars.$black-300;
      border: none;
    }

    &__title {
      font-size: 32px;
      margin-top: 16px;
    }

    &__content {
      margin-top: 20px;
    }
  }
</style>
