---
import React from 'react'

import GithubLogo from './common/GithubLogo'
import TwitterLogo from './common/TwitterLogo'
---

<h3 class="font-black">Profile</h3>
<div class="flex items-center mt-3">
  <img src="/img/avatar.png" alt="mmrakt" width={80} />
  <div class="ml-3">
    <p>@mmrakt</p>
    <h4 class="font-black">mimu</h4>
  </div>
</div>
<div class="description mt-3">大阪出身の文系エンジニアです。</div>
<div class="description">ストリートダンスと飲酒が趣味です。</div>
<div class="mt-3 flex items-center">
  <a href="https://github.com/mmrakt" target="_blank" rel="noreferrer" class="">
    <GithubLogo />
  </a>
  <a
    href="https://twitter.com/mmrakt0716"
    class="ml-3"
    target="_blank"
    rel="noreferrer"
  >
    <TwitterLogo />
  </a>
</div>
