---
import MediaList from './MediaList.astro'
import Profile from './Profile.astro'
---

<div class="sideBar">
  <aside class="sideBar__inner">
    <Profile />
    <MediaList />
  </aside>
</div>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;
  .sideBar {
    width: 300px;
    flex-shrink: 0;

    &__inner {
      margin-top: 80px;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid vars.$black-800;

      @include mixin.mq(sp) {
        margin: 0 16px;
      }

      @include mixin.dark() {
        background: vars.$black-300;
        border: none;
      }
    }
  }
</style>
