---
import MediaList from './MediaList.astro'
import Profile from './Profile.astro'
---

<div>
  <aside class="sideBar">
    <Profile />
    <MediaList />
  </aside>
</div>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;
  .sideBar {
    margin-top: 80px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ededed;
  }
</style>
