---
import { POST_DETAIL_CONTENT_CLASS } from '../../config'
import '../../styles/_tocBody.scss'
---

<nav class="tocSp">
  <div class="tocSp__body"></div>
</nav>
<script>
  import tocbot from 'tocbot'
  import { POST_DETAIL_CONTENT_CLASS } from '../../config'
  tocbot.init({
    tocSelector: '.tocSp__body',
    contentSelector: `.${POST_DETAIL_CONTENT_CLASS}`,
    headingSelector: 'h1, h2, h3',
  })
</script>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;

  .tocSp {
    padding: 20px;
    max-height: 80%;
    overflow-y: auto;
    @extend %card-content;
  }
</style>
