---
import dayjs from 'dayjs'

import type { PaginatedPost } from '../../types'
import '../../styles/postDetailContent.scss'
import { POST_DETAIL_CONTENT_SELECTOR } from '../../config'

type Props = {
  post: PaginatedPost
}
const { post } = Astro.props
---

<section class="postDetail">
  <p class="postDetail__date">
    {dayjs(post.entry.data.pubDate).format('YYYY-MM-DD')}
  </p>
  <h1 class="postDetail__title">
    {post.entry.data.title}
  </h1>
  <div class="postDetailContent" data-selector={POST_DETAIL_CONTENT_SELECTOR}>
    <slot />
  </div>
</section>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .postDetail {
    @extend %card-content;

    padding: 40px;

    @include utils.mq(sp) {
      padding: 20px 16px 40px;
    }

    @include utils.slideIn();

    @include utils.dark() {
      background: vars.$black-300;
      border: none;
    }

    &__date {
      font-size: 16px;
      @include utils.mq(sp) {
        font-size: 14px;
      }
    }
    &__title {
      font-size: 24px;
      margin-top: 16px;

      @include utils.mq(sp) {
        font-size: 22px;
      }
    }

    &__content {
      margin-top: 20px;
    }
  }
</style>
