---
import React from 'react'

import Head from '../components/Head'
import Pagination from '../components/Pagination.astro'
import PostList from '../components/PostList.astro'
import PostListLayout from '../components/PostListLayout.astro'
import type { Frontmatter, Media } from '../types'
import type { Page } from 'astro'
import SideBar from '../components/SideBar.astro'

type props = {
  page: Page<Frontmatter>
  media: Media
}
const { page, media } = Astro.props
---

<div class="postsByMediaLayout__tagText">
  <b>#{media === 'owned' ? 'mimu-memo' : media}</b>
  の記事
</div>
<div class="postsByMediaOLayout__body">
  <PostList posts={page.data} />
  <Pagination page={page} />
</div>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;

  .postsByMediaLayout {
    &__tagText {
      text-align: center;
      font-size: 20px;

      & b {
        font-weight: bold;
      }
    }

    &__body {
      display: flex;
    }
  }
</style>
