---
import Pagination from '../components/Pagination.astro'
import PostList from '../components/PostList.astro'

import type { Frontmatter } from '../types'
import type { Page } from 'astro'

type Props = {
  page: Page<Frontmatter>
}
const { page } = Astro.props
---

<div class="postListLayout">
  <PostList posts={page.data} />
  <Pagination page={page} />
</div>

<style lang="scss">
  @use '../styles/mixin' as mixin;
  @use '../styles/variables' as vars;
  .postListLayout {
    display: flex;
  }
</style>
