---
import Pagination from './Pagination.astro'
import PostList from './List.astro'

import type { Frontmatter, Media } from '../../types'
import type { Page } from 'astro'

type Props = {
  page: Page<Frontmatter>
  media?: Media
}
const { page, media } = Astro.props
const displayMediaName =
  media === 'owned'
    ? 'mimu-memo'
    : media === 'qiita'
    ? 'Qiita'
    : media === 'zenn'
    ? 'Zenn'
    : media === 'note'
    ? 'note'
    : ''
---

<div class="postListLayout__media">
  {
    media && (
      <p class="postListLayout__mediaText">
        <b class="postListLayout__mediaName">{displayMediaName}</b>
        の記事
      </p>
    )
  }
</div>
<div class="postListLayout__body">
  <PostList posts={page.data} />
  <Pagination page={page} />
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;
  .postListLayout {
    &__media {
      margin-top: 20px;
    }
    &__mediaText {
      text-align: center;
      font-size: 16px;

      & b {
        font-weight: bold;
      }
    }
    &__mediaName {
      font-size: 20px;
    }
    &__body {
      margin-top: 40px;
      @include utils.mq(sp) {
        margin-top: 20px;
      }
    }
  }
</style>
