---
import dayjs from 'dayjs'
import {
  QIITA_URL_PREFIX,
  NOTE_URL_PREFIX,
  ZENN_URL_PREFIX,
} from '../../config'
import type { Frontmatter } from '../../types'

type Props = {
  post: Frontmatter
}
const { post } = Astro.props

let externalLinkText = ''
if (post?.link) {
  if (post.link.indexOf(QIITA_URL_PREFIX) === 0) {
    externalLinkText = '（Qiita記事）'
  } else if (post?.link.indexOf(NOTE_URL_PREFIX) === 0) {
    externalLinkText = '（note記事）'
  } else if (post?.link.indexOf(ZENN_URL_PREFIX) === 0) {
    externalLinkText = '（Zenn記事）'
  }
}
---

<article class="postItem">
  <p class="postItem__date">
    <span class="">
      {dayjs(post.pubDate).format('YYYY.MM.DD')}
    </span>
    {externalLinkText && <span>{externalLinkText}</span>}
  </p>
  <div class="postItem__title">
    <h2 class="">{post.title}</h2>
  </div>
</article>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;

  .postItem {
    height: 100%;
    transform: scale(1);
    transition: transform 0.2s;
    padding: 20px;

    @extend %card-content;

    &:hover {
      transform: scale(1.05);
    }

    &__title {
      font-weight: bold;
      margin-top: 8px;

      & > h2 {
        font-size: 20px;
      }

      &:hover {
        color: vars.$black-700;
      }
    }
  }
</style>
