---
import dayjs from 'dayjs'
import { QIITA_URL_PREFIX, NOTE_URL_PREFIX, ZENN_URL_PREFIX } from '@/config'
import type { Frontmatter, MediaType } from '@/types'

type Props = {
  post: Frontmatter
}
const { post } = Astro.props

let externalMedia: MediaType | '' = ''
if (post?.link) {
  if (post.link.indexOf(QIITA_URL_PREFIX) === 0) {
    externalMedia = 'qiita'
  } else if (post?.link.indexOf(NOTE_URL_PREFIX) === 0) {
    externalMedia = 'note'
  } else if (post?.link.indexOf(ZENN_URL_PREFIX) === 0) {
    externalMedia = 'zenn'
  }
}
---

<article class="postItem">
  <p class="postItem__header">
    <span class="postItem__date">
      {dayjs(post.pubDate).format('YYYY.MM.DD')}
    </span>
    {
      externalMedia === 'qiita' ? (
        <img src="/img/qiita.png" alt="Qiita" width="20" height="20" />
      ) : externalMedia === 'zenn' ? (
        <img src="/img/zenn.svg" alt="Zenn" width="20" height="20" />
      ) : externalMedia === 'note' ? (
        <img src="/img/note.svg" alt="note" width="20" height="20" />
      ) : (
        ''
      )
    }
  </p>
  <h2 class="postItem__title">{post.title}</h2>
</article>

<style lang="scss">
  @use '@/styles/utils' as utils;
  @use '@/styles/variables' as vars;

  .postItem {
    padding: 20px;
    position: relative;
    height: 100%;

    @extend %card-content;
    border-radius: 10px;

    @include utils.mq(tab) {
      @include utils.scale(1.03);
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__date {
      font-size: 14px;
      @include utils.mq(sp) {
        font-size: 12px;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 700;
      margin-top: 12px;

      &:hover {
        color: vars.$black-400;
        @include utils.dark() {
          color: vars.$black-700;
        }
      }

      @include utils.mq(sp) {
        font-size: 14px;
      }
    }
    &__media {
      margin-right: 10px;
      padding: 0 6px;
      color: vars.$text-color-white;
      background: vars.$primary;
      font-size: 12px;
      font-weight: bold;

      @include utils.dark() {
        color: vars.$text-color-black;
      }
    }
  }
</style>
