---
import dayjs from 'dayjs'
import {
  QIITA_URL_PREFIX,
  NOTE_URL_PREFIX,
  ZENN_URL_PREFIX,
} from '../../config'
import type { Frontmatter } from '../../types'

type Props = {
  post: Frontmatter
}
const { post } = Astro.props

let externalMedia
if (post?.link) {
  if (post.link.indexOf(QIITA_URL_PREFIX) === 0) {
    externalMedia = 'qiita'
  } else if (post?.link.indexOf(NOTE_URL_PREFIX) === 0) {
    externalMedia = 'note'
  } else if (post?.link.indexOf(ZENN_URL_PREFIX) === 0) {
    externalMedia = 'zenn'
  }
}
---

<article class="postItem">
  <p class="postItem__header">
    <span class="postItem__date">
      {dayjs(post.pubDate).format('YYYY.MM.DD')}
    </span>
    {
      externalMedia === 'qiita' ? (
        <span class="postItem__media postItem__media--qiita">Qiita</span>
      ) : externalMedia === 'zenn' ? (
        <span class="postItem__media postItem__media--zenn">Zenn</span>
      ) : (
        ''
      )
    }
  </p>
  <div class="postItem__title">
    <h2 class="">{post.title}</h2>
  </div>
</article>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;

  .postItem {
    height: 100%;
    padding: 20px;

    @extend %card-content;
    border-radius: 10px;

    @include utils.mq(tab) {
      @include utils.scale(1.03);
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      font-weight: bold;
      margin-top: 12px;

      & > h2 {
        font-size: 20px;
      }

      &:hover {
        color: vars.$black-400;
        @include utils.dark() {
          color: vars.$black-700;
        }
      }
    }
    &__media {
      margin-left: 20px;
      padding: 1px 6px;
      border-radius: 6px;
      color: vars.$text-color-white;
      background: vars.$primary;
      font-weight: bold;
    }
  }
</style>
