---
import type { Page } from 'astro'

type Props = {
  page: Pick<Page, 'currentPage' | 'lastPage' | 'url'>
}
const {
  page: { currentPage, lastPage, url },
} = Astro.props
---

<div class="postListPagination flex py-3">
  {
    currentPage !== 1 && (
      <a
        href={url.prev}
        rel="prev"
        class="postListPagination__link postListPagination__link--prev"
      >
        Prev
      </a>
    )
  }
  {
    currentPage !== lastPage && (
      <a
        href={url.next}
        rel="next"
        class="postListPagination__link postListPagination__link--next"
      >
        Next
      </a>
    )
  }
</div>

<style lang="scss">
  @use '../../styles/utils' as utils;
  @use '../../styles/variables' as vars;

  .postListPagination {
    display: flex;
    margin-top: 40px;

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 12px;
      font-weight: bold;
      position: relative;

      @extend %link;
      @extend %card-content;

      &--prev {
        padding-left: 30px;
        &::before {
          @extend %arrow-prev;
          left: 10px;
        }

        &:hover {
          &::before {
            border-color: vars.$black-400;
          }
        }
        @include utils.dark() {
          &:hover {
            &::before {
              border-color: vars.$black-700;
            }
          }
        }
      }

      &--next {
        padding-right: 30px;
        margin-left: auto;

        &::after {
          @extend %arrow-next;
          right: 10px;
        }

        &:hover {
          &::after {
            border-color: vars.$black-400;
          }
        }
        @include utils.dark() {
          &:hover {
            &::after {
              border-color: vars.$black-700;
            }
          }
        }
      }
    }
  }
</style>
