---
import ChevronLeft from '../../components/elements/ChevronLeft'
import ChevronRight from '../../components/elements/ChevronRight'

import type { Page } from 'astro'

type Props = {
  page: Pick<
    Page,
    'start' | 'end' | 'size' | 'total' | 'currentPage' | 'lastPage' | 'url'
  >
}
const {
  page: { start, end, size, total, currentPage, lastPage, url },
} = Astro.props
---

<div class="postListPagination flex py-3">
  {
    currentPage !== 1 && (
      <a
        href={url.prev}
        rel="prev"
        class="postListPagination__link postListPagination__link--prev box-outline text-link flex items-center pr-2 py-2 dark:text-white underline text-sm font-medium dark:bg-dark-gray bg-white"
      >
        <ChevronLeft />
        Prev
      </a>
    )
  }
  {
    currentPage !== lastPage && (
      <a
        href={url.next}
        rel="next"
        class="postListPagination__link postListPagination__link--next box-outline text-link flex items-center ml-auto pl-2 py-2 dark:text-white underline text-sm font-medium dark:bg-dark-gray bg-white"
      >
        Next
        <ChevronRight />
      </a>
    )
  }
</div>

<style lang="scss">
  @use '../../styles/mixin' as mixin;
  @use '../../styles/variables' as vars;

  .postListPagination {
    display: flex;
    margin-top: 40px;

    &__link {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      font-weight: bold;

      @extend %link;
      @extend %card-content;

      &--next {
        margin-left: auto;
      }
    }
  }
</style>
